<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dejar.de.fumar">

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/name_app"
        android:theme="@style/AppTheme">

        <activity
            android:theme="@android:style/Theme.NoTitleBar"
            android:name=".SplashScreen"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Principal"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TusDatos"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Logros"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Preferencias"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuPrincipal"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>

    </application>

</manifest>
